* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* ============ */
/* === hero === */
/* ============ */

.hamburger-btn{
    display: none;
    width: 50px;
    cursor: pointer;
}

.logo {
    width: 90px;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/cu_bg_index.png");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 16px;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a {
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    border: 1px solid transparent;
    transition: 0.5s ease;
    border-radius: 50px;
    font-weight: 600;
}

.main-nav li a:hover {
    background-color: #fff;
    color: #002868;
}

.main-nav li a:active {
    background-color: silver;
}

.main-nav li.active a {
    background-color: #fff;
    color: #002868;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 140px;
    color: #fff;
    font-weight: 600;
    transition: 0.6s;
}

.hero-content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

/* === button hero === */

.hero-content a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    padding: 16px 50px;
    border-radius: 60px;
    transition: 0.6s ease;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    margin: 10px 10px;
}

.hero-btn:hover {
    background-color: #fff;
    color: #002868;
}

/* === main === */

main.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.title{
    color: #002868;
    padding: 0 100px;
    margin-bottom: 20px;
}

.container {
    padding: 25px;
    text-align: center;
}

.map-container{
    border-radius: 10px;
    border: 1px solid #e3e3e3;
}

.aside-title {
    font-size: 16px;
    font-weight: 600;
    color: #002868;
    margin-bottom: 20px;
    top: 100px;
    left: 50px;
    max-width: 100%;
    /* width: 50%; */
    margin: auto;
}

main p {
    font-size: 18px;
    color: #525151;
    line-height: 1.6;
    left: 50px;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    padding: 15px 35px;
    margin-bottom: 20px;
}

/* === footer === */

.blog-container {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.footer-logo{
    max-width: 255px;
    padding: 0px 0px 15px;
}

footer {
    background-color: #212121;
    color: #fff;
    padding: 20px 10%;

}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos para la primera columna (About) */
.footer-about {
    flex: 1 1 60%;
    max-width: 60%;
    margin-right: 20px;
}

/* Estilos para la segunda columna (Categories y Quick Links) */
.footer-column {
    flex: 1 1 35%;
    max-width: 35%;
    display: flex;
    justify-content: space-between;
}

.footer-categories,
.footer-links {
    flex: 1;
}

.footer-links ul{
    list-style: none;
}

.footer-links ul a{
    color: #fff;
}



/* Estilos para el bloque de derechos de autor */
.footer-copyright {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para la línea de división */
.divider {
    width: 40%; /* Ocupa todo el ancho del contenedor */
    margin: 15px 0; /* Ajusta el margen superior e inferior según tus preferencias */
    border: 1px solid #ccc; /* Color y estilo de borde de la línea */
}

/* Estilos para iconos */
.footer-social ul {
    list-style: none;
}

.footer-social li {
    /* Aplica el padding solo a los íconos */
    padding: 5px; /* Ajusta el padding según tus preferencias */
    display: inline-block;
    margin-right: 5px; /* Ajusta el espacio entre los íconos si es necesario */
}

.footer-social a img {
    width: 30px; /* Ajusta el ancho de las imágenes de los íconos */
}

/* ============== */
/* == about me == */
/* ============== */

/* Navbar styles */
.hero-about_me {
    background-color: #002868;
    color: white;
    padding: 60px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* About Me section styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #f1f1f1;
}

.container .p2{
    padding-bottom: 50px;
}

.about-me-section {
    flex: 1;
    width: 90%; /* Adjust the width to make the "About Me" section smaller */
    padding: 20px; /* Add some padding for better appearance */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.hero-about_me{
    padding: 70px;
}

/* Center the contact form vertically and horizontally */
.contact-form {
    max-width: 500px;
    margin: auto; /* Center the form horizontally and vertically */
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 #ccc;
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.contact-form h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form form input,
.contact-form form textarea,
.contact-form form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
}

.contact-form form button {
    background-color: #DD022B;
    color: white;
    cursor: pointer;
}

.contact-form form button:active {
    background-color: #b90122;
}

/* == aside == */
aside {
    min-width: 30%;
    height: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    margin: 50px 20px 20px 0px;
    background: linear-gradient(120deg, rgb(255, 202, 0) 30%, rgb(251, 239, 190) 100%);
    padding: 20px;
    border-radius: 10px;
}

aside{
    display: block;
}

aside .aside-index a {
	color: #fff;
}

.aside-index li{
    margin-bottom: 5px;
    display: block;
}

main .blog-container {
    flex-direction: column;
}

/* == article == */

.blog-content {
    padding: 35px;
}

main .blog-content p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #525151;
}

main .blog-content .post-title {
	font-family: sans-serif;
    color: #002868;
    margin-bottom: 0px;
}

main .blog-content .publication-date {
	font-size: 14px;
	color: #B5B5B5;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* == EVENTS == */
.events-container {
    background-color: #f1f1f1;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.container-title h2 {
    color: #002868;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container-events {
    padding: 20px; /* Add padding to the container-events instead of events-block */
    margin: 0 auto; /* Center the container-events horizontally */
    max-width: 90%;
    display: flex;
    gap: 20px;
    justify-items: center; /* Centrar las tarjetas horizontalmente */
    text-align: center;
}

.container-events h2 {
    color: #002868;
    font-size: 24px;
    text-align: center;
}

.event-card p {
    color: #525151;
    padding: 10px;
}

.event-card .publication-date {
    font-size: 14px;
    color: #B5B5B5;
}

.event-card {
    background-color: #fff;
    color: #002868;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow */
    transition: transform 0.2s ease; /* Add a smooth transition on hover */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido verticalmente */
    justify-content: space-between; /* Distribuir el contenido verticalmente */
    overflow: hidden;
    width: 400px;
}

.event-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.2s ease; /* Add a smooth transition on hover */
}

.event-card:hover img {
    transform: scale(1.08);
}

.event-card a:first-child{
    overflow: hidden;
}

.event-card:hover {
    transform: scale(1.05); /* Increase the card size slightly on hover */
}

.footer-social img {
    margin: 10px;
    opacity: 0.7;
    transition: opacity 0.1s ease;
}

.footer-social img:hover {
    opacity: 1;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Estilos para el iframe */
.map-container iframe {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
}

.apply-now-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 20px;
    background-color: #ffca00;
    color: #fff;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease-in-out;
    margin: 20px;
    font-weight: 600;
}

.apply-now-btn {
    box-shadow: 0 0 10px rgb(255, 202, 0, 0.8), 0 0 30px rgb(255, 202, 0, 0.8)
}

.apply-now-btn:active {
    color: #212121;
    background-color: #ffca00;
    font-weight: 600;
    box-shadow: 0 0 0
}

/* =================== */
/* == media queries == */
/* =================== */

/* Responsive design */
@media screen and (max-width: 678px) {
.logo{
    width: 50px;
}

.hamburger-btn{
    display: block;
}

.main-nav ul{
    display: none; /* Oculta el menú principal en dispositivos móviles */
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px 10px;
    position: fixed;
    z-index: 1;
    background-color: #002868;
}

.hero{
    background-color: transparent;
}

.footer-content {
    flex-direction: column;
    align-items: center;
}

.footer-column {
    margin-bottom: 20px;
}

.main-nav li {
    margin: 10px 0;
    margin-left: 8px;
    display: block;
}

.container {
    padding: 90px 35px 35px 35px;;
}

.hero {
    height: auto;
    min-height: 100vh;
    padding: 50px 5px;
}

.hero-content h1 {
    font-size: 60px;
}

main.container {
    min-height: auto;
    padding: 20px;
}

.aside-title {
    font-size: 20px;
}

.container-blog{
    padding: 34px;
}

main p {
    font-size: 16px;
    padding: 0;
}

aside {
    min-width: auto;
    margin: 35px 34px;
    top: 100px;
}

.flex-container {
    flex-direction: column;
    gap: 0;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

h2.title {
    padding: 0;
}

.hero-about_me{
    padding: 180px;
}

.footer-social img {
    margin: 10px;
    opacity: 0.7;
    transition: opacity 0.1s ease;
}

.footer-social img:hover {
    opacity: 1;
}

.blog-container {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}

.footer-social img {
    opacity: 0.5;
    transition: opacity 0.1s ease;
}

footer img:hover {
    opacity: 1;
    cursor: pointer;
}

.paragraph p {
    padding-bottom: 16px;
}

.about-me-container{
    padding: 10%;
    background-color: #f1f1f1;
}

.main-nav li{
    display: none;
}

.map-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

}